
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .image {
        @apply max-[900px]:w-16 max-[900px]:h-20 max-[1024px]:w-80 max-[1024px]:h-80 my-3 w-36 h-44
    }

    .nav-menu {
        @apply max-[900px]:fixed max-[900px]:top-20 max-[900px]:-left-full max-[900px]:flex-col max-[900px]:justify-center max-[900px]:items-center max-[900px]:backdrop-blur-[20px] max-[900px]:w-full max-[900px]:min-h-[450px] max-[900px]:h-[90vh] max-[900px]:duration-300 text-white text-sm my-2.5
    }

    .nav-link {
        @apply no-underline font-semibold ms-5 me-5
     }

     .btn {
        @apply font-medium py-3 px-5 bg-header-color_btn border-0 rounded-3xl cursor-pointer duration-[400ms] 
        hover:bg-turqoise hover:text-white 
     }

     .featured-name {
        @apply max-[540px]:text-[40px] text-[50px] font-bold text-white my-5 pe-[16vw]
     }

     .featured-text-info {
        @apply text-sm mb-[30px] text-white
     }
  
     .featured-text-btn {
        @apply flex gap-5
     }

     #home {
      clip-path: polygon(0 0, 100% 0, 100% 148vh, 0 100%);
      height: 150vh;
      z-index: 5;
     }
}
